<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha256-PDJQdTN7dolQWDASIoBVrjkuOEaI137FI15sqI3Oxu8=" crossorigin="anonymous">
    <title>Admin panel</title>

</head>
<body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha256-KuvCVS19rfTjoLgMyDDCdOkRRlhNrY4psEM4uezts2M=" crossorigin="anonymous"></script>
<nav class="navbar navbar-dark bg-dark">
    <h4 class="text-light" id="adminNavPanel"> 🤖 SSH Key Keeper Bot</h4>
    <a class="text-light" href="/logout">Logout</a>
</nav>

<div class="container-fluid" style="padding-left: 0; padding-top: 0">
    <div class="row">
        <div class="col-2" style="padding-top: 10px; padding-right: 0">
            <div class="nav flex-column nav-pills" id="pillsNav" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="pillsServer" data-toggle="pill" href="#pillsProfileServer" role="tab"
                   aria-controls="pillsProfileServer" aria-selected="true">Servers</a>
                <a class="nav-link" id="pillsAdmin" data-toggle="pill" href="#pillsHome" role="tab"
                   aria-controls="pillsHome" aria-selected="false">Users</a>
            </div>
        </div>
        <div class="col-10" style="padding-top: 15px; background: whitesmoke; min-height: 100vh;">
            <div class="tab-content" id="tabContent">
<!-- Admin panel-->
                <div class="tab-pane fade" id="pillsHome" role="tabpanel" aria-labelledby="pillsAdmin">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12"><p class="h1">Users panel</p></div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="border: 5px">
                                <ul class="nav nav-tabs" id="tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="usersTableTable" data-toggle="tab"
                                           href="#usersTable" role="tab" aria-controls="usersTable"
                                           aria-selected="true">Users table</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="NewTabContent">
                                    <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                                         aria-labelledby="usersTableTable">
                                        <div class="row"
                                             style="background: whitesmoke; border: 0 solid floralwhite; margin-right: 0; margin-left: 0;">
                                            <p class="h4"
                                               style="margin-left: 15px;margin-top: 15px;margin-bottom: 15px;">All
                                                users</p>
                                        </div>
                                        <div class="row"
                                             style="border: 0 solid floralwhite;margin-right: 0; margin-left: 0; background: white">
                                            <table class="table table-striped" style="margin: 25px;">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Servers</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="allUsers">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- Server panel-->
                <div class="tab-pane fade show active" id="pillsProfileServer" role="tabpanel" aria-labelledby="pillsServer">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12"><p class="h1">Server panel</p></div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="border: 5px">
                                <ul class="nav nav-tabs" id="tabServer" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="serversTableTable" data-toggle="tab"
                                           href="#serversTable" role="tab" aria-controls="serverTable"
                                           aria-selected="true">Servers table</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="newServerTable" data-toggle="tab" href="#newServer"
                                           role="tab"
                                           aria-controls="newServer" aria-selected="false">New Server</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="newPubKey" data-toggle="tab" href="#pubKey"
                                           role="tab"
                                           aria-controls="serverConsole" aria-selected="false">Public Key</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="newServerConsole" data-toggle="tab" href="#serverConsole"
                                           role="tab"
                                           aria-controls="serverConsole" aria-selected="false">Server Console</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="NewTabServer">
                                    <div class="tab-pane fade show active" id="serversTable" role="tabpanel"
                                         aria-labelledby="serversTableTable">
                                        <div class="row"
                                             style="background: whitesmoke; border: 0 solid floralwhite; margin-right: 0; margin-left: 0;">
                                            <p class="h4"
                                               style="margin-left: 15px;margin-top: 15px;margin-bottom: 15px;">All
                                                servers</p>
                                        </div>
                                        <div class="row"
                                             style="border: 0 solid floralwhite;margin-right: 0; margin-left: 0; background: white">
                                            <table class="table table-striped" style="margin: 25px;">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Server name</th>
                                                    <th scope="col">Server IP</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="allServers">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pubKey" aria-labelledby="newPubKey">
                                        <div class="container m-auto">
                                            <div class="row justify-content-center">
                                                <div class="col-auto">
                                                    <div class="card shadow">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-borderless mb-0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <th scope="row">Copy:</th>
                                                                        <td>
                                                                            <div class="copy-clipboard d-flex justify-content-between">
                                                                                <span class="lead h5">public key for telegram bot =>&nbsp;&nbsp;</span><i class="bi bi-clipboard-plus btn p-1 pt-0" data-bs-toggle="tooltip" title="Скопировать"></i>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="newServer" aria-labelledby="newServerTable">
                                        <div class="container-fluid" style="padding-right: 0; padding-left: 0">
                                            <div class="row"
                                                 style="background: whitesmoke; border: 2px solid whitesmoke; margin-right: 0; margin-left: 0;">
                                                <p class="h4"
                                                   style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">Add
                                                    new server</p>
                                            </div>
                                            <div class="row justify-content-center"
                                                 style="border: 2px solid whitesmoke;margin-right: 0; margin-left: 0; background: white">
                                                <div class="col-4" style="text-align: center;">
                                                    <form id="newServerForm">
                                                        <div class="form-group">
                                                            <label for="InputServerName">Server Name</label>
                                                            <input type="text" class="form-control" id="InputServerName"
                                                                   placeholder="Enter server name" name="name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="InputServerIp">Server IP</label>
                                                            <input type="text" class="form-control" id="InputServerIp"
                                                                   placeholder="Enter server ip" name="ip">
                                                        </div>

                                                        <div style="padding-bottom: 1px; background: white">
                                                            <button class="btn btn-success" type="submit" id="addServer">
                                                                Add new server
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal user-->
<div class="modal fade" id="ModalEditUser" tabindex="-1" role="dialog" aria-labelledby="ModalCentral" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle" id="UpperUserModal">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalEditUserForm">
                    <div class="form-group">
                        <label for="ModalInputId">ID</label>
                        <input type="text" class="form-control" id="ModalInputId" value="0" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ModalInputName">Name</label>
                        <input type="text" class="form-control" id="ModalInputName" value="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="ModalInputServer">Server</label>
                        <select multiple class="form-control" id="ModalInputServer">
                            <option></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveEditUser" class="btn btn-info" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDeleteUserCentral" tabindex="-1" role="dialog" aria-labelledby="ModalCentral"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModal">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ModalDeleteUserForm">
                    <div class="form-group">
                        <label for="ModalIdDelete">ID</label>
                        <input type="text" class="form-control" id="ModalIdDelete" value=1 readonly>
                    </div>
                    <div class="form-group">
                        <label for="ModalFirstNameDelete">First Name</label>
                        <input type="text" class="form-control" id="ModalFirstNameDelete" value="name" readonly>
                    </div>

                    <div class="form-group">
                        <label for="ModalServerDelete">Servers</label>
                        <select multiple class="form-control" id="ModalServerDelete">
                            <option></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="confirmDeleteUser" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal server-->
<div class="modal fade" id="ModalEditServer" tabindex="-1" role="dialog" aria-labelledby="ModalCentralServer" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle" id="UpperServerModal">Edit server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalEditServerForm">
                    <div class="form-group">
                        <label for="ServerInputId">ID</label>
                        <input type="text" class="form-control" id="ServerInputId" value="0" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ServerInputName">Server Name</label>
                        <input type="text" class="form-control" id="ServerInputName" value="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="ServerInputIp">Server IP</label>
                        <input type="text" class="form-control" id="ServerInputIp" value="ip"
                               name="ip">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveEditServer" class="btn btn-info" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDeleteServerCentral" tabindex="-1" role="dialog" aria-labelledby="ModalCentralServer"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteServerModal">Delete server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ModalDeleteServerForm">
                    <div class="form-group">
                        <label for="ServerIdDelete">ID</label>
                        <input type="text" class="form-control" id="ServerIdDelete" value=1 readonly>
                    </div>
                    <div class="form-group">
                        <label for="ServerNameDelete">Server Name</label>
                        <input type="text" class="form-control" id="ServerNameDelete" value="name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ServerIpDelete">Server IP</label>
                        <input type="text" class="form-control" id="ServerIpDelete" value="ip" readonly>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="confirmDeleteServer" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin-script.js"></script>
<script src="/js/server-script.js"></script>
<script src="/js/copy-script.js"></script>
</body>
</html>